<div class="login-canvas">
    <!-- <form class="form-login">
        <h4 data-tr="Sign in" class="title-form"></h4>
        <input type="text" name="username" class="item-form-register" placeholder="Username">
        <input type="email" name="email-user" class="item-form-register" placeholder="Email">
        <input type="password" name="passwd-user" class="item-form-register" placeholder="Password">
        <input type="password" name="passwd2-user" class="item-form-register" placeholder="Retype Password">
        <input name="login" class="login-button" type="button" value="Log In" onclick="validate_film('create')" />
        <div class="div-left">
            <div>
                <span data-tr="Already have an account?"></span>
                <a href="" data-tr="Log in" class="open-login"></a>
            </div>
        </div>
    </form> -->
</div>