<div class="-carousel-rating-films">

    <h2><i class="far fa-star"></i> Top Rated Movies</h2>
    <br><br>
    <!-- CAROUSEL MOVIES DYNAMICALLY JQUERY -->
    <div id="top-rated-movies" class="owl-carousel owl-theme"></div>
    <br>
</div>

<hr>

<div class="-carousel-visits-films">

    <h2><i class="far fa-star"></i> Most Viewed Movies</h2>
    <br><br>
    <!-- CAROUSEL MOVIES DYNAMICALLY JQUERY -->
    <div id="top-visited-movies" class="owl-carousel owl-theme"></div>
    <br>
</div>

<hr>

<div>
    <h2><i class="far fa-star"></i>Most Viewed Genres</h2>
    <br><br>
    <!-- GENRES ON CARDS -->
    <div id="canvas-card-genres"></div>
    <a id="load-more-genres">LOAD MORE</a>
    <br>
</div>

<div>

</div>
<hr>

