<div class="cards-container">
    <div class="card-shop">
        <div class="card-shop-img">
            <img class="img-size" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-morgan-freeman.jpg">

        </div>

        <div class="info-button" id="info-button">
            <i class="fa fa-bars"></i>
        </div>

        <div class="card-shop-footer">
            <div class="effect-3d"></div>
            <div class="card-footer-text">
                <span>Titulo De La Pelicula</span>
                
                <div class="card-rate">

                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        8.7 / 10
                    </strong>
                    <div class="likes-card">
                        <i class="fas fa-heart"></i>
                        <span>7593</span>
                    </div>
                   
                </div>
                
            </div>
            
        </div>
    </div>

    <div class="card-shop">
        <div class="card-shop-img">
            <img class="img-size" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-morgan-freeman.jpg">

        </div>

        <div class="info-button">
            <i class="fa fa-bars"></i>
        </div>
        
        <div class="card-shop-footer">
            <div class="effect-3d"></div>
        </div>
    </div>

    <div class="card-shop">
        <div class="card-shop-img">
            <img class="img-size" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-morgan-freeman.jpg">
        </div>
        
        <div class="info-button">
            <i class="fa fa-bars"></i>
        </div>

        <div class="card-shop-footer">
            <div class="effect-3d"></div>
        </div>
    </div>

    <div class="card-shop">
        <div class="card-shop-img">
            <img class="img-size" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-morgan-freeman.jpg">

        </div>

        <div class="info-button">
            <i class="fa fa-bars"></i>
        </div>
        
        <div class="card-shop-footer">
            <div class="effect-3d"></div>
        </div>
    </div>

    <div class="card-shop">
        <div class="card-shop-img">
            <img class="img-size" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-morgan-freeman.jpg">

        </div>

        <div class="info-button">
            <i class="fa fa-bars"></i>
        </div>
        
        <div class="card-shop-footer">
            <div class="effect-3d"></div>
        </div>
    </div>

    <div class="card-shop">
        <div class="card-shop-img">
            <img class="img-size" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-morgan-freeman.jpg">

        </div>

        <div class="info-button">
            <i class="fa fa-bars"></i>
        </div>
        
        <div class="card-shop-footer">
            <div class="effect-3d"></div>
        </div>
    </div>

    <div class="card-shop">
        <div class="card-shop-img">
            <img class="img-size" src="http://u.lorenzoferrara.net/marlenesco/material-card/thumb-morgan-freeman.jpg">

        </div>

        <div class="info-button">
            <i class="fa fa-bars"></i>
        </div>
        
        <div class="card-shop-footer">
            <div class="effect-3d"></div>
        </div>
    </div>

</div>