<div class="header">

    <div class="header-main">
        
        <div class="header-logo">
            
            <span><a href="index.php">VideoShop</a></span>
        </div>

        <div class="search-bar-canvas">
            <form class="form-search">
                <input class="search-bar-form" type="text" placeholder="Search a film" aria-label="Search">
                <a href="#"><i class="fas fa-search"></i></a>
            </form>
        </div>

        <div class="header-pull-right">
            <a id="shop" class="header-button" href="#" data-tr="Shop"></a>

            <a id="contact-us" class="header-button" href="#" data-tr="Contact Us"></a>

            <a id="header-login" class="header-button" href=# data-tr="Login">Iniciar Sesion</a>
            
            <div class="lang-div">
                    <select name="Language" id="lang" class="form-control form-control-sm">
                        <option value="en" id="btn-en" data-tr="English">English</option>
                        <option value="es" id="btn-es" data-tr="Spanish">Spanish</option>
                        <option value="va" id="btn-va" data-tr="Valencian">Valencian</option>
                    </select>
            </div>
            
        </div>
        
    </div>
    

</div>
<div class="filters">
    
    
</div>